.footer {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(10px);
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.created {
    font-weight: 800;
    color: hsl(237, 56%, 67%);
    margin: 0;
}

.created span {
    font-weight: 300;
    font-size: 2rem;
}

#git, #link {
    display: flex;
    position: relative;
    top: 17px;
    left: 10px; 
}


@media screen and (max-width: 680px) {
    .created {
        display: none;
    }
}